.div-height {
  height: 230px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.link-padded {
  padding-top: 100px;
}

.mg-row {
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
