<<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="text-center">
        <h2 class="title">RENT A LUXURY WATCH ON TIME</h2>
        <p class="catch">Wear the watch of your dream</p>
      </div>
    </div>
  </div>
</div>
