<div class="banner" style="background-image: url('<%= image_path 'homepage_find_your_rolex_0002_1680x400.jpg'%>');">
  <div class="banner-content">
    <h2>Louer une montre à l'heure</h2>
    <p>Des montres de luxe à portée de main</p>
  </div>
</div>


