<div class="banner" style="background-image: url(<%=image_path("montre-done.jpg")%>);">
  <div class="wrapper-white">
    <div class="banner-content">
      <h1 class="title">RENT A LUXURY WATCH <br>
      ON TIME</h1>
      <p class="catch">Wear the watch of your dream</p>
      <a class="btn btn-primary btn-lg">GET IT</a>
    </div>
  </div>
</div>
