<<<<<<< HEAD
<div class="banner">
  <div class="wrapper">
    <div class="banner-content">
      <h2 class="title" >RENT A LUXURY WATCH ON TIME</h2>
      <p class="catch" >Wear the watch of your dream</p>
    </div>
=======
<div class="banner" style="background-image: url('<%= image_path 'homepage_find_your_rolex_0002_1680x400.jpg'%>');">
  <div class="banner-content">
    <h2>Louer une montre à l'heure</h2>
    <p>Des montres de luxe à portée de main</p>
>>>>>>> 37114465413a2e0cdbc2003bf60dadfe91a0500f
  </div>
</div>
