<div class="container" style="background-image: url(<%=image_path("download.jpg")%>);">>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="wrapper-white">
        <div class="text-center">
          <h1>Edit your watch</h1>
          <%= render 'form' %>
          <%= link_to "home", watches_path %>
        </div>
      </div>
    </div>
  </div>
</div>
