<div class="container text-center">
  <div class="row">
    <h1>Un évènement important, une montre de choix</h1>
    <% @watches.each do |watch|  %>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <% if watch.photos.first %>
           <%=cl_image_tag watch.photos.first.path, width: 150, height: 200, crop: :fill %>
          <% end %>
          <div class="caption">
            <h3><%= watch.brand %></h3>
            <p><%= watch.price %> €</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> -->

    <% end %>
  </div>
</div>
