<div class="row">
  <h1>Un évènement important, une montre de choix</h1>
  <% @watches.each do |watch|  %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <h3><%= link_to watch.brand, watch_path(watch) %></h3>
      <p><%= watch.price %></p>
    </div>
  <% end %>
</div>
