<div class="row">
  <h1>Un évènement important, une montre de choix</h1>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <% @watches.each do |watch|  %>
        <h3><%= watch.brand %></h3>
        <p><%= watch.price %></p>
      <% end %>
  </div>
</div>
