<div id="aaw">
  <div class="wrapper-form-new" id="wfaaw">
  <div class="container text-center">
  <!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3"> -->
      <h1>ADD A WATCH</h1>
      <div class="catch">(to your collection)</div>
      <%= render 'form' %>
  <!--   </div>
  </div> -->
  <hr>
  <%= link_to "Home", watches_path, class: "btn btn-info" %>
</div>
</div>
</div>
