<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="text-center">
        <h1>Add a watch</h1>
        <%= render 'form' %>
        <%= link_to "home", watches_path %>
      </div>
    </div>
  </div>
</div>
