/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.wrapper-white {
border-style: solid;
border-width: 1px;
border-color: black;
background-color: white;
opacity: 0.9;
margin-bottom: 90px;
padding-right: 35px;
padding-left: 35px;
padding-bottom: 20px;
}
.wrapper-white h2 {
font-weight: bold;
font-size: 28px;
letter-spacing: 0.2em;
color: #C48908;
}

.wrapper-beige {
border-style: solid;
border-width: 1px;
border-color: black;
background-color: ;
opacity: 0.9;
margin-bottom: 90px;
padding-right: 35px;
padding-left: 35px;
padding-bottom: 20px;
}
.wrapper-beige h2 {
font-weight: bold;
font-size: 28px;
letter-spacing: 0.2em;
color: #C48908;
}
