/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

body, html{
  background-size: 100%;
}

.wrapper-sign {
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
  width: 460px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  border-color: #bcbcbc;
  border-width: 1px;
  border-style:solid;
  background-color: white;
  opacity: 0.9;
}

.wrapper-sign h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 22px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.wrapper-sign a {
  padding: 10px;
  margin-top: 10px;
}

.img-bg {
  background-image: url(wbg.jpg);
  margin-bottom: auto;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner {
  background-image: url(index.jpg);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom:0;
}

.form-inputs {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.form-group.email.optional.user_email {
  margin-bottom: 30px;
}

.control-label.password.optional {

}

.form-actions {
  padding-top: 20px;
  padding-bottom: 20px;
}
