/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Toutes les classes pour gérer l'alignement de son texte en responsive

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}
// Toutes les wrappers

.wrapper-white-signup {
border-style: solid;
border-width: 1px;
border-color: black;
background-color: white;
opacity: 0.9;
margin-bottom: 90px;
padding-right: 35px;
padding-left: 35px;
// padding-bottom: 20px;
}
.wrapper-white-signup h2 {
font-weight: bold;
font-size: 28px;
letter-spacing: 0.2em;
color: #C48908;
}


.wrapper-white {
border-style: solid;
border-width: 1px;
border-color: black;
background-color: white;
opacity: 0.9;
margin-bottom: 90px;
padding-right: 35px;
padding-left: 35px;
padding-bottom: 20px;
}
.wrapper-white h2 {
font-weight: bold;
font-size: 28px;
letter-spacing: 0.2em;
color: #C48908;
}
.wrapper-beige {
box-shadow: 2px 2px 5px #B7B7B1;
background-color: rgba(229,229,222, 0.3);
padding: 20px;
}
.wrapper-beige h2 {
font-weight: bold;
font-size: 28px;
letter-spacing: 0.2em;
color: #C48908;
}

.btn-success {
  background-color: white;
  color: #B7B7B1;
  border-color: #B7B7B1;
}

.btn-success:hover {
  color: #B7B7B1;
  background-color: white;
  border-color: #c7ae42;
}
