.btn-default:hover {
  background-color: white;
  border-color: #CCB94D;
}

.btn-default {
  border-radius: 1px;
  border-color: #666666;
}


.btn-primary, .btn-info {
  border-radius: 1px;
  border-color: #666666;
  background-color: white;
  color: #666666;

}

.btn-primary:hover, .btn-info:hover {
  border-color: #CCB94D;
  color: #666666;
  background-color: white;
}
