.col-xs-9 {
  margin-left: 104px;
}

.col-xs-8 {
  border-radius: 1px;
}

.form-inline {
  padding: 5px;
  background-color: none;
}

.form-control {
  margin-bottom: 10px;
  border-radius: 1px;
  font-size: 15px;
}

.final-price {
  background-color: rgba( lightslategrey, 0.3);
  padding-top: 5px;
  padding-left: 10px;
  margin-right: 20px;
}

.final-price span {
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 15px;
}

.wrapper-rent {
  background-color: rgba( lightslategrey, 0.3);
  padding: 13px;
  padding-left: none;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.control-label {
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.btn-primary {
  text: center;
}

.description {
  padding: 13px;
  border-radius: 1px;
}

.p-description {
 font-variant: small-caps;
 text-transform: lowercase;
 margin-bottom: 15px;
}

h2 {
  margin-top: 0px;
  font-variant: small-caps;
  text-transform: uppercase;
}

p {
  font-variant: small-caps;
  margin-bottom: 0px;
}

.container {
  margin-top: 150px;
}

.container p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.container a {
  font-weight: bold;
  font-size: 18px;
}
