#show-wrapper span {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 20px;
}

#show-wrapper .control-label {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 200;
}

